<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index,follow" />
<% if (!locals.tags_list){ %>
  <meta name="keywords" content="저탄고지 키토제닉 다이어트 살빼기 비만 식이요법 식이조절 운동 탄수화물 고지방 웰빙 건강" />
<% } %>
<meta name="description" Content="키토제닉(저탄고지 LCLF) 다이어트에 대해 설명하며 각종 식단 및 식자재 정보 등을 제공합니다" />
<meta name="google-site-verification" content="ceMjsUtcUCw0PsZOzNAkHnSEsg0HjXhuXerKnw_PsSc" />
<meta name="naver-site-verification" content="85c6505c8c912a077f91a59177b7e99b0c73997e"/>
<meta property="og:title" content="키토제닉 다이어트 커뮤니티"/>
<meta property="og:url" content="https://kitocommu.herokuapp.com"/>
<meta property="og:image" content="http://kitocommu.herokuapp.com/images/main/gnb_logo.jpg"/>
<meta property="og:description" content="키토제닉(저탄고지 LCLF) 다이어트에 대해 설명하며 각종 식단 및 식자재 정보 등을 제공합니다"/>
<meta property="og:image:width" content="107" />
<meta property="og:image:height" content="100" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/js/socket/socket.io.js" ></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<link rel="canonical" href="https://kitocommu.herokuapp.com" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.min.css?token='<%= locals.nowtime %>'" />
<link rel="stylesheet" type="text/css" href="/stylesheets/sub.min.css?token='<%= locals.nowtime %>'" />
<link rel="stylesheet" type="text/css" href="/stylesheets/gnb_copyright.min.css?token='<%= locals.nowtime %>'" />
<link rel="stylesheet" type="text/css" href="/stylesheets/editor_contets.min.css?token='<%= locals.nowtime %>'" />
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1230275671093952",
    enable_page_level_ads: true
  });
</script>
<% if (!locals.title){ %>
  <title>키토제닉 저탄고지 다이어트 커뮤니티</title>
<% }else { %>
  <title><%= title %></title>
<% } %>
</head>
  <body>
  <div class="loading_div">
    <div>
      <div>
        <span>
          <b class="loading01"></b>
          <b class="loading02"></b>
          <b class="loading03"></b>
          <b class="loading04"></b>
          <b class="loading05"></b>
        </span>
        <i>로딩중</i>
      </div>
    </div>
  </div>
  <!--[if lte IE 9]><body class="ie9" itemscope itemtype = "http://schema.org/WebPage"><![endif]-->
