<!DOCTYPE html>
<html class="sub" lang="ko">
<head>
  <meta name="keywords" content="<%= tags_list %>" />
  <link rel="stylesheet" type="text/css" href="/board/<%= css_skin %>?token='<%= locals.nowtime %>'" />
  <link rel="stylesheet" type="text/css" href="/board/recipe/<%= css_skin %>?token='<%= locals.nowtime %>'" />
  <% include ../../partials/header.ejs %>
  <% include ../../partials/nav.ejs %>
  <main role="main">
  <div class="sub designcustom">
      <div class="view_container container">
        <section class="post_view" itemscope itemtype="http://schema.org/BlogPosting">
            <ul>
              <li class="clearfix">
                <h3 class="col-xs-12 col-md-3 col-lg-2 title_line">
                  <strong>제목</strong>
                </h3>
                <div itemprop="name" class="col-xs-12 col-md-9 col-lg-10">
                  <%= title %>
                </div>
              </li>
              <li class="clearfix">
                <h3 class="col-xs-12 col-md-3 col-lg-2 title_line">
                  <strong>작성자</strong>
                </h3>
                <div itemprop="author" class="col-xs-12 col-md-9 col-lg-10">
                  <%= writer_nickname %>
                </div>
              </li>
              <li class="clearfix">
                <h3 class="col-xs-12 col-md-3 col-lg-2 title_line">
                  <strong>카테고리</strong>
                </h3>
                <div itemprop="genre" class="col-xs-12 col-md-9 col-lg-10">
                  <%= category %>
                </div>
              </li>
              <!--li class="clearfix">
                <h3 class="col-xs-12 col-md-3 col-lg-2 title_line">
                  <strong>공지사항</strong>
                </h3>
                <div class="col-xs-12 col-md-9 col-lg-10">
                  <%= is_notice %>
                </div>
              </li-->
              <li class="clearfix">
                <h3 class="col-xs-12 col-md-3 col-lg-2 title_line">
                  <strong>태그</strong>
                </h3>
                <div itemprop="keywords" class="col-xs-12 col-md-9 col-lg-10">
                  <%= tags %>
                </div>
              </li>
              <li class="clearfix">
                <h3 class="col-xs-12 col-md-3 col-lg-2 title_line">
                  <strong>썸네일</strong>
                </h3>
                <div itemprop="text" class="col-xs-12 col-md-9 col-lg-10 contents">
                  <img src=<%= thumnail %> alt=<%= title %> />
                </div>
              </li>
              <li class="clearfix">
                <h3 class="col-xs-12 col-md-3 col-lg-2 title_line">
                  <strong>글내용</strong>
                </h3>
                <div itemprop="text" class="col-xs-12 col-md-9 col-lg-10 contents" id="BoardViewContents">
                  <%= contents %>
                </div>
              </li>
            </ul>
        </section>
        <%if(locals.is_writer){%>
          <form id="BoardRemoveForm" method="post" action="/board_remove_submit" onclick="BoradWriteFileDelete('remove');">
            <input id="RemoveTableId" name="board_table_id" type="hidden" value="<%= board_table_id %>" />
            <input id="RemovePostIdx" name="post_index" type="hidden" value="<%= post_index %>" />
            <input id="ModifyReplyCheck" name="is_reply" type="hidden" value="<%= is_reply %>" />
            <%if(locals.reply_table_id){%>
              <input id="ModifyReplyIdCheck" name="reply_table_id" type="hidden" value="<%= reply_table_id %>" />
            <%}%>
          </form>
          <form id="BoardModifyForm" method="get" action="/board/write">
            <input id="ModifyTableId" name="board_table_id" type="hidden" value="<%= board_table_id %>" />
            <input id="ModifyReplyCheck" name="is_reply" type="hidden" value="<%= is_reply %>" />
            <input id="ModifyPostIdx" name="post_index" type="hidden" value="<%= post_index %>" />
            <%if(locals.reply_table_id){%>
              <input id="ModifyReplyIdCheck" name="reply_table_id" type="hidden" value="<%= reply_table_id %>" />
            <%}%>
          </form>
        <%}%>
        <%if(locals.is_reply != "yes" && locals.is_reply_type == "yes"){%>
          <form id="BoardReplyForm" method="get" action="/board/reply_write">
            <input id="ReplyTableId" name="board_table_id" type="hidden" value="<%= board_table_id %>" />
            <input id="ReplyPostIdx" name="post_index" type="hidden" value="<%= post_index %>" />
            <input id="ReplyCheck" name="is_reply" type="hidden" value="yes" />
          </form>
        <%}%>
        <div class="buttonbox">
          <div>
            <%if(locals.is_writer){%>
              <button id="BoardRemoveButton" data-form-id="BoardRemoveForm" class="linebutton middle submit_btn" accesskey="d">삭제하기</button>
              <button id="BoardModifyButton" data-form-id="BoardModifyForm" class="linebutton middle submit_btn" accesskey="u">수정하기</button>
            <%}%>
            <%if(locals.is_reply != "yes" && locals.is_reply_type == "yes"){%>
              <button id="BoardReplyButton" data-form-id="BoardReplyForm" class="linebutton middle submit_btn" accesskey="r">답글달기</button>
            <%}%>
            <a id="BoardListButton" href="
            /board/list?board_table_id=<%= board_table_id %>&page=<%= board_paging %>&page_length=10"
            class="linebutton middle submit_btn" accesskey="l">목록으로</a>
          </div>
        </div>
      </div>
      <%if(locals.is_comment == 'yes'){%>
        <% include ../coments.ejs %>
      <%}%>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
