<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body itemscope = "" itemtype = "http://schema.org/WebPage">
<% include ../partials/nav.ejs %>
  <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
    <section>
      <form method="post" action="/mypage/submit" onsubmit="CheckFormInput();">
        <fieldset>
          <legend>기본 인적사항</legend>
          <ul>
            <li>
              <h3>
                <label for="joinId">아이디</label>
              </h3>
              <input id="joinId" name="id" type="text" value="<%= id %>" placeholder="아이디를 입력하세요 (숫자,알파벳,-,_등만 입력 가능합니다. 8자 이상)" required />
            </li>
            <li>
              <h3>
                <label for="joinPassword">비밀번호</label>
              </h3>
              <input id="joinPassword" name="pw" type="password" placeholder="비밀번호를 입력하세요 (숫자,알파벳만 입력 가능합니다. 10자 이상)" required />
            </li>
            <li>
              <h3>
                <label for="joinNickname">닉네임</label>
              </h3>
              <input id="joinNickname" name="nickname" type="text" value="<%= nickname %>" placeholder="닉네임을 입력하세요 (2~20자)" required />
            </li>
            <li>
              <h3>
                <label for="joinEmail">이메일</label>
              </h3>
              <input id="joinEmail" name="email" type="text" value="<%= email %>" placeholder="이메일을 입력하세요" required />
            </li>
            <li>
              <h3>
                <label for="joinTel">전화번호</label>
              </h3>
              <input id="joinTel" name="tel" type="text" value="<%= tel %>" placeholder="전화번호를 입력하세요" required />
            </li>
          </ul>
          </fieldset>
          <fieldset>
            <legend>다이어트 관련 기본정보</legend>
            <ul>
              <li>
                <h3>
                  <label for="joinSex">성별</label>
                </h3>
                <select id="joinSex" data-sex="<%= sex %>" name="sex" required >
                  <option value="female">여성</option>
                  <option value="male">남성</option>
                </select>
              </li>
              <li>
                <h3>
                  <label for="joinHeight">키</label>
                </h3>
                <input id="joinHeight" name="height" type="text" value="<%= height %>" placeholder="키를 입력해주세요 (숫자만 가능합니다)" required />
              </li>
              <li>
                <h3>
                  <label for="joinWeight">몸무게</label>
                </h3>
                <input id="joinWeight" name="weight" type="text" value="<%= weight %>" placeholder="몸무게를 입력해주세요 (숫자만 가능합니다)" required />
              </li>
            </ul>
          </fieldset>
          <a href="/" type="submit" class="btn btn-default ">가입 취소</a accesskey="z">
          <button type="submit" class="btn btn-default ">회원가입하기</button accesskey="s">
        </form>
    </section>
  </div>
  <script>
  function CheckFormInput(){
    var input_list = ['joinId','joinNickname','joinPassword','joinEmail','joinTel','joinHeight','joinWeight'];
    var dialog_list = ['아이디는 8자 이상 영문소문자, 숫자, 특수문자를 입력해주세요',
    '닉네임은 8자 이상 영문소문자, 숫자, 특수문자',
    '비밀번호는 10자 이상의 영문대소문자, 숫자, 특수문자를 입력해주세요',
    '이메일은 형식에 맞게 입력해주세요',
    '전화번호는 형식에 맞게 입력해주세요',
    '키는 숫자만 입력 가능합니다',
    '몸무게는 숫자만 입력 가능합니다'];
    var reg_list = new Object;
    reg_list.reg_uid = /^[a-z0-9_]{8,}$/; //8자 이상 영문소문자, 숫자, 특수문자 _ 사용가능
    reg_list.reg_nickname = /^[\w\Wㄱ-ㅎㅏ-ㅣ가-힣]{2,20}$/; //2~20자, 한글,영문,숫자 사용가능
    reg_list.reg_upw = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-]|.*[0-9]).{10,}$/; //10자 이상 영문대소문자, 숫자, 특수문자 혼합하여 사용
    reg_list.reg_email = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i; //이메일정규식
    reg_list.reg_phone = /^\d{2,3}\d{3,4}\d{4}$/; // 전화번호 정규표현식
    reg_list.reg_height = /^[0-9]*$/; //키 정규식
    reg_list.reg_weight = /^[0-9]*$/; //몸무게 정규식
    var count = 0;
    var is_true = true;
    for(var key in reg_list){
      if(!reg_list[key].test($('#'+input_list[count]).val())){
        is_true = false;
        alert(dialog_list[count]);
      }
      count++;
    };
    return is_true;
  };
  //정규표현식

  </script>
<% include ../partials/footer.ejs %>
</body>
</html>
