<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body itemscope = "" itemtype = "http://schema.org/WebPage">

<% include ../partials/nav.ejs %>
<div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
  <article class="food_list" itemscope = "" itemtype = "http://schema.org/Thing">
    <hgroup itemprop = "about">
      <h2><strong><%= keyword %>에 대한 음식들입니다.</strong></h2>
    </hgroup>
    <section>
      <ul class="food_list">
        <% for(var i=0; i < food_list.length; i++) { %>
        <li itemscope = "" itemtype = "http://schema.org/Thing">
          <h3 itemprop = "name"><%= food_list[i].food_name %></h3>
          <div itemprop = "description">
            <figure itemprop = "image">
              <img src="<%= food_list[i].thumb_img %>" alt="<%= food_list[i].food_name %>" />
            </figure>
            <em>칼로리 <span><%= food_list[i].kcal %></span></em>
          </div>
          <button class="btn detail_submit" itemprop = "url" data-keyword="<%= keyword %>" data-category="<%= food_list[i].code %>" data-sid="<%= food_list[i].seq_code %>" >상세 영양성분 보기</button>
        </li>
        <% } %>
      </ul>
    </section>
  </article>
</div>
<div class="modal">
  <div class="food_detail">
  </div>
</div>
<script>
$(".detail_submit").on('click', function(){
  $.ajax({
    type: "POST",
        url: "/food_search/seq_code",
        data: JSON.stringify({
          "keyword" : $(this).attr("data-keyword"),
          "result_type" : "detail_list",
          "food_category" : $(this).attr("data-category"),
          "food_seq" : $(this).attr("data-sid")
        }),
        contentType: "application/json",
        success: function(data) {
          console.log("받아오긴 받아옴");
            var html;
            for (var i = 0; i < data.ing_list.length; i++) {
              var j = 0;
              var c = 0;
              for(var key in data.ing_list[j]) {
                console.log("뭐지 ??"+key);
                if(key == 'name') {
                  html += '<h2><strong>'+data.ing_list[j][key]+'</strong>';
                }
                else if(key == 'vol_str') {
                  html += data.ing_list[j][key]+'</h2>';
                }
                if(data.ing_list[j].length == c){
                  j++;
                }
                c++;
              }
            }
            $('.food_detail').html(html);
        },
        error: function(data) {
            console.log("Error!!!!!!!!!!!!");
        }
  });
});
</script>
  <% include ../partials/footer.ejs %>
</body>
</html>
