<!DOCTYPE html>
<html class="sub" lang="ko">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chatting.css" />
  <% include ../partials/header.ejs %>
  <script src="/js/common/catting.js"></script>
  <% include ../partials/nav.ejs %>
  <main itemscope itemtype = "http://schema.org/WebPage" role="main">
  <div class="sub designcustom">
      <article class="container chatting chatting_list" itemscope = "" itemtype = "http://schema.org/CreativeWork">
        <section id="MakeNewRoom">
          <fieldset>
            <h2 class="blind">
              방 만들기
            </h2>
            <form id="AddNewCattingRoom">
              <div>
              <label for="AddNewCattingRoomTitle" class="blind">방 제목</label>
              <% if(locals.nickname){%><input id="UserNickname" type="hidden" value="<%= locals.nickname %>"/><%}%>
              <% if(locals.userid){%><input id="UserId" type="hidden" value="<%= locals.userid %>"/><%}%>
              <input id="AddNewCattingRoomTitle" name="room_title"
              type="text" placeholder="만드실 방 제목을 추가해주세요." />
              <div class="line visible-xs visible-sm"></div>
              <label for="CheckSecretCattingRoom">
                <div class="lock"></div>
                <span class="blind">비밀글</span>
              </label>
              <input id="CheckSecretCattingRoom" class="room_secret" name="room_secret" type="checkbox" placeholder="비밀 대화방을 만들고 싶은 경우 넣어주세요" />
              <button id="AddNewCattingRoomButton" class="linebutton small" type="button">확인</button>
              </div>
            </form>
          </fieldset>
        </section>
        <section id="TotalRoomList">
          <h2 class="blind">
            방 목록확인
          </h2>
          <ul class="room_list">
              <% if(locals.room_list[0] && locals.room_list[0].room_title) { %>
                <% for(var i=0; i < room_list.length; i++ ) { %>
                <li>
                  <div>
                    <h3><%= room_list[i].room_title %></h3>
                    <strong class='participate'>참여인원 : <%= room_list[i].participate.length %>명</strong>
                    <i class='<%= room_list[i].room_is_secret %>'></i>
                    <button data-roomid="<%= room_list[i].room_id %>" class="linebutton small" role="button">입장하기</button>
                  </div>
                </li>
                <% } %>
              <% } %>
          </ul>
        </section>
        <section id="CattingLog">
          <div id="CattingUserlist">
            <h3>현재 접속인원</h3>
            <ul>

            </ul>
          </div>
          <div>
            <section id="CattingDialog">
              <h3 class="blind">대화목록</h3>
              <ul>

              </ul>
            </section>
            <form id="CattingContentsEnter">
              <textarea id="CattingContentsText" placeholder="채팅할 내용을 넣어주세요."></textarea>
              <button id="CattingContentsButton" class='linebutton small' type="button">
                입력하기
              </button>
            </form>
          </div>
        </section>
      </article>
    </div>
<% include ../partials/footer.ejs %>
</body>
</html>
