<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body itemscope = "" itemtype = "http://schema.org/WebPage">
<% include ../partials/nav.ejs %>
  <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
    <section>
      <ul>
        <% for(var i=0; i < board_list.length; i++) { %>
        <li>
          <hgroup>
            <h2>
              <a href="/board/view?board_table_id=<%= board_table_id %>&post_index=<%= board_list[i].post_index %>">
                <%= board_list[i].title %>
              </a>
            </h2>
            <h3>
              <%= board_list[i].writer %>
            </h3>
            <time>
              <%= board_list[i].writed %>
            </time>
          </hgroup>
        </li>
        <%}%>
      </ul>
    </section>
    <section>
      <ul>
        <% for(var i=0; i < board_paging.length; i++) { %>
        <li>
          <%= if(board_paging[i].paging != page) { %>
            <a href="/board/list?board_table_id=<%= board_table_id %>&page=<%= board_paging[i].paging %>&page_length=10">
              <%= board_paging[i].paging %>
            </a>
          <%}else {%>
            <a class="active" href="/board/list?board_table_id=<%= board_table_id %>&page=<%= board_paging[i].paging %>&page_length=10">
              <%= board_paging[i].paging %>
            </a>
          <%}%>
        </li>
        <%}%>
        <li>
          <a href="/board/write?new_post=true&board_table_id=MemberIntroduce">글쓰기</a>
        </li>
      </ul>
    </section>
  </div>
<% include ../partials/footer.ejs %>
</body>
</html>
