<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body itemscope = "" itemtype = "http://schema.org/WebPage">
<% include ../partials/nav.ejs %>
  <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
    <section>
      <ul>
        <% for(var i=0; i < board_list.length; i++) { %>
        <li>
          <hgroup>
            <h2>
              <a href="/board/view?board_table_id=<%= board_list[i].board_table_id %>&post_index=<%= board_list[i].post_index %>">
                <%= board_list[i].title %>
              </a>
            </h2>
            <h3>
              <%= board_list[i].writer %>
            </h3>
            <time>
              <%= board_list[i].writed %>
            </time>
          </hgroup>
        </li>
        <%}%>
      </ul>
    </section>
    <section>
      <ul>
        <% for(var i=0; i < board_paging.length; i++) { %>
        <li>
          <a href="/board/view?board_table_id=<%= board_list[i].board_table_id %>&post_index=<%= board_list[i].post_index %>">
            <%= board_paging[i].paging_index %>
          </a>
        <%}%>
      </ul>
    </section>
  </div>
<% include ../partials/footer.ejs %>
</body>
</html>
