<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body itemscope = "" itemtype = "http://schema.org/WebPage">
<% include ../partials/nav.ejs %>
  <div class="container" itemscope = "" itemtype = "http://schema.org/CreativeWork">
    <section>
      <form method="post" action="/board_write_submit">
        <%if(locals.board_table_id){%>
          <input id="BoardTableId" name="table_id" type="hidden" value="<%= board_table_id %>" />
        <%}%>
        <%if(locals.board_post_idx){%>
          <input id="BoardPostIdx" name="_index" type="hidden" value="<%= board_post_idx %>" />
        <%}%>
        <fieldset>
          <ul>
            <li>
              <label for="BoardTitle">제목</label>
              <%if(locals.board_title){%>
                <input id="BoardTitle" name="title" type="text" value="<%= board_title %>" />
              <%}else {%>
                <input id="BoardTitle" name="title" type="text" />
              <%}%>
            </li>
            <li>
              <label for="BoardCategory">카테고리</label>
              <%if(locals.board_category){%>
                <input id="BoardCategory" name="category" type="text" value="<%= board_category %>" />
              <%}else {%>
                <input id="BoardCategory" name="category" type="text" />
              <%}%>
            </li>
            <li>
              <label for="BoardNotice">공지사항</label>
              <%if(locals.board_notice){%>
                <input id="BoardNotice" name="is_notice" type="text" value="<%= board_notice %>" />
              <%}else {%>
                <input id="BoardNotice" name="is_notice" type="text" />
              <%}%>
            </li>
            <li>
              <label for="BoardTags">태그 #으로 분리해서 적어주세요</label>
              <%if(locals.board_tags){%>
                <input id="BoardTags" name="tags" type="text" value="<%= board_tags %>" />
              <%}else {%>
                <input id="BoardTags" name="tags" type="text" />
              <%}%>
            </li>
            <li>
              <label for="BoardContents">글내용</label>
              <%if(locals.board_contents){%>
                <textarea id="BoardContents" name="contents"><%= board_contents %></textarea>
              <%}else {%>
                <textarea id="BoardContents" name="contents"></textarea>
              <%}%>
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn-default">글등록하기</button accesskey="s">
      </form>
      <script>
      CKEDITOR.replace( 'BoardContents', {
        filebrowserUploadUrl: '/upload'
      } );
      </script>
    </section>
  </div>
<% include ../partials/footer.ejs %>
</body>
</html>
