<!DOCTYPE html>
<html class="sub" lang="ko">
<head>
  <head>
    <link rel="stylesheet" type="text/css" href="/board/<%= css_skin %>?token='<%= locals.nowtime %>'" />
    <% include ../partials/header.ejs %>
    <% include ../partials/nav.ejs %>
    <main role="main">
    <div class="sub designcustom">
      <div class="container" itemscope itemtype="http://schema.org/BlogPosting">
        <section>
          <%if(!locals.title){%>
            <%if(locals.is_reply != "yes"){%>
              <form id="BoardWriteForm" method="post" action="/board_write_submit">
            <%} else {%>
              <form id="BoardWriteForm" method="post" action="/board_reply_submit">
            <%}%>
          <%} else {%>
            <form id="BoardWriteForm" method="post" action="/board_modify_submit">
          <%}%>
            <%if(locals.board_table_id){%>
              <input id="CheckReply" name="is_reply" type="hidden" value="<%= is_reply %>" />
              <%if(locals.reply_table_id){%>
                <input id="ReplyTableId" name="reply_table_id" type="hidden" value="<%= reply_table_id %>" />
              <%}%>
              <%if(locals.is_reply != "yes"){%>
                <input id="BoardTableId" name="board_table_id" type="hidden" value="<%= board_table_id %>" />
              <%} else {%>
                <input id="BoardTableId" name="board_table_id" type="hidden" value="<%= board_table_id %>" />
              <%}%>
            <%}%>
            <%if(locals.title){%> <!--locals.post_index -->
              <%if(locals.is_reply != "yes"){%>
                <input id="BoardPostIdx" name="post_index" type="hidden" value="<%= post_index %>" />
              <%} else {%>
                <%if(locals.reply_index){%>
                  <input id="BoardReplyPostIdx" name="reply_index" type="hidden" value="<%= reply_index %>" />
                <%}%>
                <input id="BoardPostIdx" name="post_index" type="hidden" value="<%= post_index %>" />
              <%}%>
            <%}%>
            <fieldset>
              <ul>
                <li class="clearfix">
                  <h3 class="col-xs-12 col-md-3 col-lg-2">
                    <label for="BoardTitle">제목</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                    <%if(locals.title){%>
                      <input itemprop="name" id="BoardTitle" class="width100" name="title" type="text" required="" value="<%= title %>" />
                    <%}else {%>
                      <input itemprop="name" id="BoardTitle" class="width100" name="title" type="text" required="" />
                    <%}%>
                  </div>
                </li>
                <li class="clearfix">
                  <h3 class="col-xs-12 col-md-3 col-lg-2">
                    <label for="BoardCategory">카테고리</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                    <%if(locals.category){%>
                      <select itemprop="genre" id="BoardCategory" name="category" type="text" required="" data-value="<%= category %>">
                        <%if(locals.category_list){%>
                          <% for(var i=0; i < category_list.length; i++) { %>
                            <option value="<%= category_list[i] %>"><%= category_list[i] %></option>
                          <%}%>
                        <%}%>
                      </select>
                    <%}else {%>
                      <select itemprop="genre" id="BoardCategory" name="category" type="text" required="">
                        <%if(locals.category_list){%>
                          <% for(var i=0; i < category_list.length; i++) { %>
                            <option value="<%= category_list[i] %>"><%= category_list[i] %></option>
                          <%}%>
                        <%}%>
                      </select>
                    <%}%>
                  </div>
                </li>
                <li class="clearfix">
                  <h3 class="col-xs-12 col-md-3 col-lg-2">
                    <label for="BoardSecret">비밀글</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                    <%if(locals.is_secret){%>
                      <input id="BoardSecret" class="CommentSecret check" name="is_secret" data-value="<%= is_secret %>" type="checkbox" />
                    <%}else {%>
                      <input id="BoardSecret" class="CommentSecret check" name="is_secret" data-value="" type="checkbox" />
                    <%}%>
                  </div>
                </li>
                <%if(locals.is_admin == true){%>
                  <li class="clearfix">
                    <h3 class="col-xs-12 col-md-3 col-lg-2">
                      <label for="BoardNotice">공지사항</label>
                    </h3>
                    <div class="col-xs-12 col-md-9 col-lg-10">
                    <%if(locals.is_notice == "on"){%>
                      <input id="BoardNotice" name="is_notice" class="CommentSecret check" type="checkbox" data-value="<%= is_notice %>" />
                    <%}else {%>
                      <input id="BoardNotice" name="is_notice" class="check" type="checkbox" value="false"/>
                    <%}%>
                    </div>
                  </li>
                <%}%>
                <li class="clearfix">
                  <h3 class="col-xs-12 col-md-3 col-lg-2">
                    <label for="BoardTags">태그</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                  <%if(locals.tags){%>
                    <input itemprop="keywords" id="BoardTags" class="width100" name="tags" type="text" value="<%= tags %>" data-toggle="tooltip" placeholder="#으로 분리해서 적어주세요" required="" />
                  <%}else {%>
                    <input itemprop="keywords" id="BoardTags" class="width100" name="tags" type="text" required=""  data-toggle="tooltip" placeholder="#으로 분리해서 적어주세요" />
                  <%}%>
                  </div>
                </li>
                <li class="clearfix">
                  <h3 class="col-xs-12 col-md-3 col-lg-2">
                    <label for="BoardContents">글내용</label>
                  </h3>
                  <div class="col-xs-12 col-md-9 col-lg-10">
                  <%if(locals.contents){%>
                    <textarea itemprop="text" id="BoardContents" name="contents" required=""><%= contents %></textarea>
                  <%}else {%>
                    <textarea itemprop="text" id="BoardContents" name="contents" required=""></textarea>
                  <%}%>
                  </div>
                </li>
                <%if(locals.captcha_img){%>
                  <li id="BoardCaptchaImg">
                    <h3 class="col-xs-12 col-md-3 col-lg-2">
                      <label for="BoardCaptchaContents">
                        스팸방지
                        <span class="blind"><%= captcha_data %></span>
                      </label>
                    </h3>
                    <div class="col-xs-12 col-md-9 col-lg-10 borad_spam_con">
                      <div>
                        <%= captcha_img  %>
                      </div>
                      <input type="text" id="BoardCaptchaContents" name="captcha" data-toggle="captcha" placeholder="스팸방지문자를 적어주세요" />
                    </div>
                  </li>
                <%}%>
              </ul>
            </fieldset>
            <%if(locals.thumnail){%>
              <input id="BoardThumnailValue" name="thumnail" type="hidden" value="<%= thumnail %>" />
            <%}else {%>
              <input id="BoardThumnailValue" name="thumnail" type="hidden" value="" />
            <%}%>
          </form>
          <%if(locals.list_type == 'thumnail'){%>
            <div itemprop="thumbnailUrl" class="clearfix">
              <h3 class="col-xs-12 col-md-3 col-lg-2 title_line">
                <label for="BoardThumnail">썸네일</label>
              </h3>
              <div class="col-xs-12 col-md-9 col-lg-10">
                <%if(locals.thumnail){%>
                  <form id="ajaxform" class="file_form" action="/upload_thumnail" method="post" enctype="multipart/form-data">
                    <label for="BoardThumnail">파일을 첨부해주세요</label>
                    <input id="BoardThumnail" class="file_input" name="thumnailfile" type="file" value="<%= thumnail %>" />
                    <button class="linebutton middle" type="button">이미지첨부</button>
                    <input id="BoardThumnailButton" class="linebutton middle" type="button" value="파일 올리기" />
                  </form>
                <%}else {%>
                  <form id="ajaxform" class="file_form" action="/upload_thumnail" method="post" enctype="multipart/form-data">
                    <label for="BoardThumnail">파일을 첨부해주세요</label>
                    <input id="BoardThumnail" class="file_input" name="thumnailfile" type="file" value="" />
                    <button class="linebutton middle" type="button">이미지첨부</button>
                    <input id="BoardThumnailButton" class="linebutton middle" type="button" value="파일 올리기" />
                  </form>
                <%}%>
              </div>
            </div>
          <%}%>
          <%if(locals.title){%>
            <form id="PostDeleteForm" method="post" action="/board_remove_submit">
              <input id="CheckReply" name="is_reply" type="hidden" value="<%= is_reply %>" />
              <%if(locals.reply_table_id){%>
                <input id="ReplyTableId" name="reply_table_id" type="hidden" value="<%= reply_table_id %>" />
              <%}%>
              <input id="RemoveTableId" name="board_table_id" type="hidden" value="<%= board_table_id %>" />
              <input id="RemovePostIdx" name="post_index" type="hidden" value="<%= post_index %>" />
            </form>
          <%}%>
          <%if(!locals.title){%>
          <div class="buttonbox">
            <div>
              <button id="BoardSaveButton" data-form-id="BoardWriteForm" class="linebutton middle submit_btn" accesskey="s">등록하기</button>
            </div>
          </div>
          <%} else{%>
            <div class="buttonbox">
              <div>
                <button id="BoardModifyButton" data-form-id="BoardWriteForm" class="linebutton middle submit_btn" accesskey="u">수정하기</button>
                <button data-form-id="PostDeleteForm" class="linebutton middle submit_btn" accesskey="d">삭제하기</button>
              </div>
            </div>
          <%}%>
          <script>
          CKEDITOR.replace( 'BoardContents', {
            filebrowserUploadUrl: '/upload'
          } );

          $(window).bind('beforeunload', function(){
            BoradWriteUnloadEvent();
            return false;
          });

          $("#BoardCaptchaImg > div > div").html($("#BoardCaptchaImg > div > div").text().replace("\"",""));
          </script>
        </section>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>
